.tab-1{
  background-color: #EC8E00;
  padding: 20px;
  border: 1px solid #ec8e00;
  border-radius: 2px;
  color: white;
  width: 100%;
}

.tab-2{
  color: #131e4c;
  background-color: transparent;
  border: 1px solid #ec8e00;
  border-radius: 2px;
  padding: 20px;
  width: 100%;
}