/* Fonts */

@import url("..\\fonts\\roboto\\roboto.css");
@import url("..\\fonts\\gotham\\gotham.css");

/* Cores */

:root {
    --azul-pri: #131E4C;
    --azul-sec: #4A4969;
    --laranja: #C49043;
    --cinza-claro: #F8F8FA;
    --cinza-escuro: #8F8EA0;
}

/* Geral */

* {
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--cinza-claro);
  scroll-behavior: smooth;
}

nav .svg-inline--fa {
  color: var(--laranja) !important;
}
nav .covid-drop .svg-inline--fa {
  color: white !important;
}

/* Navbar */

nav {
  min-height: 125px;
  background-color: var(--azul-pri);
}

nav .nav-item {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav .nav-link {
  font-weight: bold;
  color: white;
  text-align: center;
}

nav .nav-link:focus {
  color: white;
}

nav .nav-link:hover,
nav .nav-link:active {
  color: var(--laranja);
}

nav .active .nav-link,
nav .active .nav-link:hover,
nav .active .nav-link:active,
nav .active .nav-link:focus {
  color: var(--cinza-escuro);
}

nav .w-50 a {
  line-height: 28px;
}

nav .navbar-brand img {
  max-width: 190px;
}

nav .navbar-toggler:focus,
nav .navbar-toggler:active,
nav .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid white;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav .dropdown-menu {
  background-color: var(--laranja);
}

nav .dropdown-menu a {
  color: white;
  font-weight: bold;
}

nav .dropdown-menu a:hover {
  background-color: var(--laranja);
  color: var(--azul-pri);
}

nav .dropdown-toggle {
  line-height: 25px;
}

nav .navbar-nav .user .dropdown-menu {
  left: -35px;
}

nav hr {
  border: 1px solid white;
  color: white;
  background-color: white;
  border-top: 1px solid white;
  opacity: .75;
}

nav .mobile #nav-toggler {
  position: absolute;
  left: 25px;
  top: 45px;
}

nav .mobile .navbar-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 0;
}

nav .mobile .navbar-brand img {
  margin-right: 22px;
  margin-top: 4px;
}

nav .mobile li:first-child hr {
  margin-top: 25px;
}

nav .mobile .logged-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

nav .mobile .logged-user {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

nav .mobile .logged-user a,
nav .mobile .logged-user a:hover {
  color: var(--laranja);
  font-weight: bolder;
}

/* Media queries */

@media screen and (max-width: 1200px) {
  nav .nav-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media screen and (max-width: 1092px) {
  nav .navbar-nav .user .dropdown-menu {
    left: -55px;
  }
}

@media screen and (max-width: 992px) {
  nav .mobile .nav-link {
    text-align: left;
  }

  nav .mobile ul {
    padding-bottom: 25px;
  }
}
