/* Fonts */

@import url("..\\fonts\\roboto\\roboto.css");
@import url("..\\fonts\\gotham\\gotham.css");
@import url("..\\fonts\\discovid\\style.css");

/* Cores */

:root {
    --azul-pri: #131E4C;
    --azul-sec: #4A4969;
    --laranja: #C49043;
    --laranja-escuro: #C47B43;
    --cinza-claro: #F8F8FA;
    --cinza-escuro: #8F8EA0;
}

.color-azul-princ {
  color: var(--azul-pri);
}

.color-laranja {
  color: var(--laranja);
}

/* Geral */

* {
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: var(--cinza-claro);
  scroll-behavior: smooth;
}

.discovid-icon {
  font-family: 'discovid';
  color: black;
}

/* Navbar */

nav {
  min-height: 125px;
  background-color: var(--azul-pri);
}

nav .nav-item {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav .nav-link {
  font-weight: bold;
  color: white;
  text-align: center;
}

nav .nav-link:focus {
  color: white;
}

nav .nav-link:hover,
nav .nav-link:active {
  color: var(--laranja);
}

nav .active .nav-link,
nav .active .nav-link:hover,
nav .active .nav-link:active,
nav .active .nav-link:focus {
  color: var(--cinza-escuro);
}

nav .w-50 a {
  line-height: 28px;
}

nav .navbar-brand img {
  max-width: 190px;
}

nav .navbar-toggler:focus,
nav .navbar-toggler:active,
nav .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid white;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav .dropdown-menu {
  background-color: var(--laranja);
}

nav .dropdown-menu a {
  color: white;
  font-weight: bold;
}

nav .dropdown-menu a:hover {
  background-color: var(--laranja);
  color: var(--azul-pri);
}

nav .dropdown-menu .active a {
  color: var(--azul-pri) !important;
}

nav .dropdown-toggle {
  line-height: 25px;
}

nav .navbar-nav .user .dropdown-menu {
  left: -35px;
}

nav hr {
  border: 1px solid white;
  color: white;
  background-color: white;
  border-top: 1px solid white;
  opacity: .75;
}

nav .svg-inline--fa {
  color: var(--laranja) !important;
}

nav .covid-drop .svg-inline--fa {
  color: white !important;
}

nav .covid-drop .active .svg-inline--fa {
  color: var(--azul-pri) !important;
}

nav .mobile #nav-toggler {
  position: absolute;
  left: 25px;
  top: 45px;
}

nav .mobile .navbar-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-right: 0;
}

nav .mobile .navbar-brand img {
  margin-right: 22px;
  margin-top: 4px;
}

nav .mobile li:first-child hr {
  margin-top: 25px;
}

nav .mobile .logged-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

nav .mobile .logged-user {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

nav .mobile .logged-user a,
nav .mobile .logged-user a:hover {
  color: var(--laranja);
  font-weight: bolder;
}

nav #navbar-logo:hover {
  cursor: pointer;
}

/* Botões */

/* Fundo laranja e texto branco */

.btn-laranja {
  border: 0;
  background-color: var(--laranja);
  color: white;
  transition: .3s;
}

.btn-laranja:hover {
  background-color: var(--laranja-escuro);
  color: white;
  transition: .3s;
}

.btn-azul-pri {
  border: 0;
  background-color: var(--azul-pri);
  color: white;
  transition: .3s;
}

.btn-azul-pri:hover {
  background-color: var(--azul-sec);
  color: white;
  transition: .3s;
}

.btn-100 {
  background-color: var(--laranja);
  border: none;
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  color: white;
}

/* Cartas */

/* Carta de estabelecimento */

.card-sta {
  border: 0;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2.5rem;
}

.card-sta .card-text {
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.card-sta .card-title {
  margin: 0;
  display: flex;
  align-items: center;
}

.card-sta .card-title p {
  font-weight: 500;
  color: var(--laranja);
  margin: 5px 0px 5px;
}

.card-sta .card-subtitle p {
  font-weight: normal;
  color: var(--azul-pri);
  margin: 0;
}

.card-sta .card-rating {
  color: var(--laranja);
}

.card-sta .card-rating span {
  font-weight: 900;
}

.card-sta .card-description p {
  margin: 0;
}

.card-sta .card-description p,
.card-sta .card-description p i {
  font-weight: 700;
  color: var(--cinza-escuro);
}

.card-sta .card-buttons {
  height: 100%;
  display: flex;
  align-items: flex-end;
  min-width: 200px;
  flex-direction: column;
}

.card-sta .card-buttons .first-row {
  margin-top: auto;
}

.card-sta .card-buttons .second-row {
  margin-top: auto;
  align-self: flex-end;
}

.card-sta .card-buttons span {
  font-weight: 900;
  font-size: 1.5rem;
  color: var(--azul-pri);
}

.card-sta .card-icons span {
  font-size: 1rem;
  padding-left: .5rem;
  padding-right: .5rem;
}

/* Select */

.modal-select .select2-container--default .select2-selection--single {
  height: 50px;
  border: 0;
  background-color: white;
  box-shadow: 0px 1px 5px #ccc;
  border-radius: 5px;
}

.select2-container--default .select2-selection--single {
  height: 35px;
  border: 0;
  background-color: var(--cinza-claro);
  border-radius: 5px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: var(--cinza-escuro);
  font-family: 'Roboto', sans-serif;
}

.modal-select .select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: var(--laranja) transparent transparent transparent;
  border-width: 8px 5px 0 5px;
  left: 40%;
  top: 85%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: var(--laranja) transparent transparent transparent;
  border-width: 8px 5px 0 5px;
  left: 40%;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent var(--laranja) transparent;
  border-width: 0 5px 8px 5px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  border: 0;
  color: black;
  background-color: var(--cinza-claro);
}

.select2-container--default .select2-search--dropdown .select2-search__field::placeholder {
  color: var(--cinza-escuro);
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
  outline: 0;
  -webkit-box-shadow:inset 0px 0px 0px 2px var(--laranja);
  -moz-box-shadow:inset 0px 0px 0px 2px var(--laranja);
  box-shadow:inset 0px 0px 0px 2px var(--laranja);
}

.select2-container--open .select2-dropdown--below li,
.select2-container--open .select2-dropdown--above li {
  font-family: 'Roboto', sans-serif;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--azul-sec);
}

.select2-results__message {
  font-size: 1rem;
  color: var(--cinza-escuro);
}

.modal-select .select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 50px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 35px;
}

/* Range sliders */

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  background: #E7D2B3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 5px;
}

input[type="range"]:hover {
  opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: var(--laranja);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--laranja);
  cursor: pointer;
}

/*Tabs*/
.active-tab {
  background-color: var(--laranja);
  padding: 20px;
  border: 1px solid var(--laranja);
  border-radius: 5px;
  color: white;
  width: 100%;
  font-weight: 500;
  transition: .3s ease-in;
  white-space: nowrap;
  transition: .3s;
}

.active-tab:hover {
  background-color: var(--laranja-escuro);
  transition: .3s;
}

.unactive-tab {
  color: var(--azul-pri);
  background-color: transparent;
  border: 1px solid var(--laranja);
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  font-weight: 500;
  transition: .3s ease-out;
  white-space: nowrap;
  transition: .3s;
}

.unactive-tab:hover {
  background-color: #dfdfe1;
  transition: .3s;
}

/* Scrollbar */

.custom-scrollbar ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.custom-scrollbar ::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.custom-scrollbar ::-webkit-scrollbar-thumb {
  background: var(--azul-sec);
  border-radius: 50px;
}

/* Handle on hover */
.custom-scrollbar ::-webkit-scrollbar-thumb:hover {
  background: var(--azul-pri);
}

/* Modals */

.background-modal {
  background-color: var(--cinza-claro);
}

.info-posto-marcacao {
  background: white;
  text-align: left;
  padding: 50px;
  border-radius: 7px;
}

.span-5estrelas {
  width: 92%;
  height: 4px;
  background-color: green;
  display: inline-block;
  border-radius: 20px;
  margin-left: 10px;
}

.span-4estrelas {
  width: 92%;
  height: 4px;
  background-color: #C8C8C8;
  display: inline-block;
  border-radius: 20px;
  margin-left: 10px;
}

.span-3estrelas {
  width: 92%;
  height: 4px;
  background-color: #C8C8C8;
  display: inline-block;
  border-radius: 20px;
  margin-left: 10px;
}

.span-2estrelas {
  width: 92%;
  height: 4px;
  background-color: #C8C8C8;
  display: inline-block;
  border-radius: 20px;
  margin-left: 10px;
}

.span-1estrelas {
  width: 92%;
  height: 4px;
  background-color: #C8C8C8;
  display: inline-block;
  border-radius: 20px;
  margin-left: 10px;
}

.info-posto-marcacao span#valor {
  width: 5%;
  text-align: center;
}

.metodo-pagamento {
  background-color: white;
  padding: 10px;
  border-radius: 7px;
  height: 4rem;
}



.imprimir-fatura {
  border: none;
  background-color: var(--laranja);
  color: white;
  border-radius: 7px;
  padding: 6px;
}

.avaliar-posto {
  border: none;
  background-color: var(--azul-pri);
  color: white;
  border-radius: 7px;
  padding: 6px;
}

.identar-15 {
  left: 15px;
  position: relative;
  color: #8f8ea0;
}

.fechar-modal {
  text-align: right;
  padding-right: 4rem;
  padding-top: 2rem;
  font-size: 33px;
}

.avaliacao-entidade {
  flex-wrap: wrap
}

.bg-pd-br {
  background-color: white;
  padding: 20px;
  border-radius: 7px;
}

.pontuacao {
  font-size: 4rem;
  text-align: center;
}

.bg-cinza {
  background-color: #DBDBDB;
}

.bg-laranja {
  background-color: var(--laranja);
}

.border-7px {
  border-radius: 7px;
}

.botao-imprimir {
  background-color: var(--laranja);
  border: none;
  color: white;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/* Botão de encerrar sessão */

#logout-button:hover {
  cursor: pointer;
}

/* Input groups */

.input-group-text {
  background-color: white;
  border: 1px solid white;
  color: var(--azul-sec);
  border-radius: 5px;
}

/* SweetAlert2 */

.swal2-styled.swal2-confirm {
  background-color: var(--laranja) !important;
  outline: 0 !important;
  border: 0 !important;
}

/* Footer */

footer {
  background-color: var(--azul-pri);
}

footer .discovid-icon {
  font-size: 1.25rem;
  color: var(--laranja);
}

footer p,
footer p a {
  font-family: 'Roboto', sans-serif;
  color: var(--cinza-escuro);
  font-weight: 500;
  text-decoration: none;
}

footer p:hover,
footer p a:hover {
  color: var(--cinza-claro);
  transition: .2s;
}

footer .footer-socials a {
  color: var(--cinza-escuro) !important;
  transition: .2s;
}

footer .footer-socials a:hover {
  color: var(--cinza-claro) !important;
  transition: .2s;
}

footer .footer-socials .me-4 {
  margin-right: 1rem !important;
  margin-left: 1rem !important;
}

footer h6 {
  color: var(--laranja);
}

/* Carrossel */
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23131E4C' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23131E4C' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* Media queries */

@media (max-width: 1199px) {
  nav .nav-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media (max-width: 1091px) {
  nav .navbar-nav .user .dropdown-menu {
    left: -55px;
  }
}

@media (max-width: 991px) {
  nav .mobile .nav-link {
    text-align: left;
  }

  nav .mobile ul {
    padding-bottom: 25px;
  }
}

@media (max-width: 767px) {
  .card-sta .card-buttons {
    flex-direction: row;
    margin-top: 1.25rem;
    padding-bottom: 25px;
  }

  .card-sta .card-buttons .first-row {
    margin: auto;
  }

  .card-sta .card-buttons .second-row {
    margin: 0;
    align-self: center;
  }

  .card-sta .card-buttons .card-icons {
    width: 130px;
    min-width: 130px;
    justify-content: flex-end;
  }
}

/* Checboxes */

input[type="checkbox"] {
  width: 15px;
  min-width: 15px;
}

@media (max-width: 419px) {
  .card-sta .card-buttons {
    flex-direction: column;
  }

  .card-sta .card-buttons .card-icons {
    width: auto;
    min-width: auto;
  }
}
