/* Fonts */

@import url("..\\fonts\\roboto\\roboto.css");
@import url("..\\fonts\\gotham\\gotham.css");

/* Cores */

:root {
    --azul-pri: #131E4C;
    --azul-sec: #4A4969;
    --laranja: #C49043;
    --cinza-claro: #F8F8FA;
    --cinza-escuro: #8F8EA0;
}

/* Geral */

* {
  font-family: 'Gotham', sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  background: var(--cinza-claro);
  scroll-behavior: smooth;
}

.svg-inline--fa {
  color: var(--laranja) !important;
}

/* Navbar */

nav {
  min-height: 125px;
  background-color: var(--azul-pri);
}

nav .nav-item {
  width: auto;
  padding-left: 15px;
  padding-right: 15px;
}

nav .nav-link {
  font-weight: bold;
  color: white;
  text-align: center;
}

nav .navbar-brand img {
  max-width: 190px;
}

nav .navbar-toggler:focus,
nav .navbar-toggler:active,
nav .navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid white;
}

nav .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

nav .dropdown-menu {
  background-color: var(--laranja);
}

nav .dropdown-menu a {
  color: white;
  font-weight: bold;
}

nav .dropdown-menu a:hover {
  background-color: var(--laranja);
  color: var(--azul-pri);
}

nav .dropdown-toggle {
  line-height: 25px;
}

nav .w-50 a {
  line-height: 28px;
}

nav hr {
  border: 2px solid white;
  color: white;
  background-color: white;
}

@media screen and (max-width: 1200px) {
  nav .nav-item {
    padding-left: 5px;
    padding-right: 5px;
  }
}
