.input-login {
  width: 100%;
  padding: 13px;
  border: none;
  box-shadow: 0px 1px 5px #aaaaaa;
  border-radius: 2px;
}

.input-login:focus {
  outline: none;
  box-shadow: 0px 2px 10px #EC8E00;
}

.btn-login {
  background-color: #EC8E00;
  border: none;
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  color: white;
}

.active-tab {
  background-color: #EC8E00;
  padding: 20px;
  border: 1px solid #ec8e00;
  border-radius: 2px;
  color: white;
  width: 100%;
}

.unactive-tab {
  color: #131e4c;
  background-color: transparent;
  border: 1px solid #ec8e00;
  border-radius: 2px;
  padding: 20px;
  width: 100%;
}
