.card-product .card {
  text-align: center;
  border-radius: 15px;
  border: none;
}

.card-product .card-title {
  color: var(--laranja);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.card-product .card-body {
  background-color: var(--azul-pri);
  border-radius: 0px 0 15px 15px;
}

.card-product .card-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.card-product .card-img-top {
  border-radius: 15px;
  max-width: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card-product .ver-descricao-button {
  background: #0077FF;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: .9rem;
  transition: .3s;
}

.card-product .ver-descricao-button:hover {
  background: #0007FF;
  color: white;
  transition: .3s;
}

.card-product .add-cart-button {
  background: #EC8E00;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: .9rem;
  transition: .3s;
}

.card-product .add-cart-button:hover {
  background-color: var(--laranja-escuro);
  transition: .3s;
}

.card-product .card-body {
  margin-top: 10px;
  color: white;
}

.store-products .row .col-xl-3 {
  margin-top: 25px;
}

.store-cart {
  background-color: white;
  padding: 1rem;
}

.store-cart .cart-content input[type=number] {
  background-color: var(--cinza-claro);
  border: 0;
  max-width: 75px;
}

.store-cart .cart-content p {
  margin: 0;
}

.store-cart .cart-content .img-cart {
  max-width: 40% !important;
  min-width: 75px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.store-cart .cart-content .titulo-cart {
  color: var(--laranja);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.store-cart .cart-content .preco-cart {
  color: var(--azul-pri);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.store-cart .cart-content .remover {
  font-size: 1.5rem;
  color: red;
}

.store-cart .cart-content .preco-total-cart {
  color: var(--azul-pri);
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.store-cart .cart-content .btn-laranja {
  width: 18rem;
}

@media (max-width: 767px) {
  .card-product .cart-description {
    padding-top: 5%;
  }

  .carrinho .col-md-3 p {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
  }

  .cart-content .row div:not(:last-child) {
    margin-bottom: 10px;
  }
}
