/* Stylesheet global  */
@import url("general.css");


/* Página inicial */

/* Jumbotron */

.content-area .container-fluid {
  padding: 0;
}

.content-area .jumbotron-wrapper {
  width: 100%;
  height: 350px;
}

.content-area .jumbotron-wrapper .jumbotron {
  width: 100%;
  height: 100%;
  background-image: url("../img/index/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.content-area .jumbotron h1 {
  color: white;
  font-weight: bolder;
}

.content-area .jumbotron p {
  color: white;
  font-weight: bolder;
}

.content-area .jumbotron .container {
  height: 100%;
}

.content-area .jumbotron .jumbotron-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-area .jumbotron .jumbotron-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 100%;
  padding-top: 30px;
}

.content-area .jumbotron .jumbotron-buttons p {
  padding: 0px 15px 0px;
  margin: 0;
}

.content-area .jumbotron .jumbotron-buttons .btn {
  background-color: white;
  color: var(--azul-pri);
  border: 0;
  font-size: 1rem;
  font-weight: 500;
  max-width: 300px;
}

.content-area .jumbotron .jumbotron-buttons .input-group {
  max-width: 300px;
}

.content-area .jumbotron .jumbotron-buttons .input-group input[type=text] {
  font-family: "Roboto", sans-serif;
}

.content-area .jumbotron .jumbotron-buttons .input-group .input-group-text {
  height: 100%;
  background-color: var(--laranja);
  border: 0;
}

.content-area .jumbotron .jumbotron-buttons .input-group .input-group-text {
  color: white !important;
}

/* Secção do mapa: resultados */

.map-section .map-results h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
}

.map-section .map-results span {
  font-weight: 300;
}

/* Secção do mapa: mapa */

.map-section .map-frame iframe {
  width: 100%;
  height: 500px;
}

/* Secção dos resultados: postos encontrados */

.results-section .results-title {
  font-weight: bolder;
  font-size: 1.5rem;
  color: var(--azul-sec);
}

.results-section .results-description {
  font-size: 1.25rem;
  color: var(--azul-sec);
  font-weight: 300;
}

.results-section .filters {
  background-color: white;
  border-radius: 5px;
}

.filter-price span,
.filter-distance span {
  font-size: .75rem;
}

.results-section .filters select {
  background-color: var(--cinza-claro);
  border: 0;
  font-family: 'Roboto', sans-serif;
  color: var(--cinza-escuro);
}

/* Página de editar perfil */

.botao-guardar{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: white;
  border: 1px solid #c49043;
  border-radius: 5px;
  color: #c49043;
  visibility: hidden;
}

.botao-editar{
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 10px;
  background: #c49043;
  color: white;
  border: 1px solid #c49043;
  border-radius: 5px;
}
#avatar-profile{
  width: 7rem;
}

#pills-encomendas .encomenda {
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.img-encomenda-mini {
  width: 4rem;
}

.ver-encomenda {
  background: var(--laranja);
  color: white;
  border: none;
  border-radius: 7px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
}

.check-style {
  height: 20px;
  width: 20px;
}

.check-style input:checked {
  background-color: var(--laranja);
}

.span-checkbox {
  padding-left: 10px;
}

#pills-marcacoes .marcacao {
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.ver-marcacao {
  background: var(--laranja);
  color: white;
  border: none;
  border-radius: 7px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}

.cancelar-marcacao {
  background: red;
  color: white;
  border: none;
  border-radius: 7px;
  padding: 6px;
  padding-left: 15px;
  padding-right: 15px;
  width: auto;
}

.descricao-marcacao {
  font-weight: 500;
  color: var(--cinza-escuro);
}

#pills-notificacoes .notificacoes {
  padding: 20px;
  background: white;
  border-radius: 10px;
}

.fechar-notificacao {
  padding: 6px;
  background: red;
  border: none;
  color: white;
  border-radius: 7px;
}

/* Página de Iniciar Sessão */

.input-login-registar {
  width: 100%;
  padding: 13px;
  border: none;
  box-shadow: 0px 1px 5px #aaaaaa;
  border-radius: 2px;
}

.input-login-registar:focus {
  outline: none;
  box-shadow: 0px 2px 10px var(--laranja);
}

.btn-login {
  background-color: var(--laranja);
  border: none;
  width: 100%;
  padding: 20px;
  border-radius: 2px;
  color: white;
}

/* Página da loja */

.card-product .card {
  text-align: center;
  border-radius: 15px;
  border: none;
}

.card-product .card-title {
  color: var(--laranja);
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.card-product .card-body {
  background-color: var(--azul-pri);
  border-radius: 0px 0 15px 15px;
}

.card-product .card-text {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

.card-product .card-img-top {
  border-radius: 15px;
  max-width: 200px;
  padding-top: 25px;
  padding-bottom: 25px;
}

.card-product .ver-descricao-button {
  background: #0077FF;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: .9rem;
  transition: .3s;
}

.card-product .ver-descricao-button:hover {
  background: #0007FF;
  color: white;
  transition: .3s;
}

.card-product .add-cart-button {
  background: var(--laranja);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-size: .9rem;
  transition: .3s;
}

.card-product .add-cart-button:hover {
  background-color: var(--laranja-escuro);
  transition: .3s;
}

.card-product .card-body {
  margin-top: 10px;
  color: white;
}

.store-products .row .col-xl-3 {
  margin-top: 25px;
}

.store-cart {
  background-color: white;
  padding: 1rem;
}

.store-cart .cart-content input[type=number] {
  background-color: var(--cinza-claro);
  border: 0;
  max-width: 75px;
}

.store-cart .cart-content p {
  margin: 0;
}

.store-cart .cart-content .img-cart {
  max-width: 40% !important;
  min-width: 75px !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.store-cart .cart-content .titulo-cart {
  color: var(--laranja);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.store-cart .cart-content .preco-cart {
  color: var(--azul-pri);
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.store-cart .cart-content .remover {
  font-size: 1.5rem;
  color: red;
}

.store-cart .cart-content .preco-total-cart {
  color: var(--azul-pri);
  font-weight: bold;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.store-cart .cart-content .btn-laranja {
  width: 18rem;
}

/* Checkout - 2 */

.metodos-de-pagamento{
  height: 60px;
  background: white;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.metodos-de-pagamento-2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Postos */

#postos .custom-scrollbar hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--cinza-escuro);
  margin: 1em 0;
  padding: 0;
}

#postos .side-nav {
  width: 100%;
  height: 660px;
  overflow-y: auto;
  overflow-x: hidden;
}

#postos .results-cards {
  height: 720px;
  overflow: auto;
}

#postos .results-cards .card-sta {
  margin-right: 20px;
}

#postos .side-nav .filters {
  padding-right: 20px;
}

/* Sintomas */

#sintomas .content-area .jumbotron-wrapper .jumbotron {
  width: 100%;
  height: 100%;
  background-image: url("../img/sintomas/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#sintomas .container h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.15rem;
}

#sintomas .cards .card-sint {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  color: var(--azul-pri);
}

#sintomas .cards .card-sint h3 {
  font-size: 1.05rem;
  color: var(--laranja);
  font-weight: 700;
}

#sintomas .cards .card-sint label {
  font-size: .85rem;
}

#sintomas .sintomas-result {
  font-family: 'Roboto', sans-serif;
  color: var(--azul-pri);
}

/* Tracking */

#tracking .content-area .jumbotron-wrapper .jumbotron {
  width: 100%;
  height: 100%;
  background-image: url("../img/tracking/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#tracking .container h3 {
  font-family: 'Roboto', sans-serif;
  color: var(--cinza-escuro);
  font-size: 1rem;
}

#tracking .card-tra {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

#tracking .card-tra h2 {
  color: var(--laranja);
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

#tracking .card-tra h3 {
  font-size: 1.25rem;
  color: var(--azul-pri);
  font-weight: 500;
}

#tracking .card-tra span {
  color: var(--cinza-escuro);
  font-size: .85rem;
}

/* Testes */

#testes .content-area .jumbotron-wrapper .jumbotron {
  width: 100%;
  height: 100%;
  background-image: url("../img/testes/banner-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#testes .card-tes {
  width: 350px;
  min-width: 280px;
  min-height: 400px;
  border-radius: 15px;
}

#testes .testes-title h2 {
  font-weight: 700;
  color: var(--azul-pri);
  font-size: 1.5rem;
}

#testes .card-tes h2 {
  color: white;
}

#testes .teste-button {
  position: relative;
  top: -75px;
}

#testes .teste-button input[type="button"] {
  background-color: white;
  color: var(--azul-pri);
  font-weight: 700;
  transition: .3s;
}

#testes .teste-button input[type="button"]:hover {
  background-color: var(--cinza-escuro);
  transition: .3s;
}

#testes #rt-pcr {
  background-image: url("../img/testes/rt-pcr.png");
  background-position: center;
}

#testes #antigenio {
  background-image: url("../img/testes/antigenio.png");
  background-position: center;
}

#testes #serologicos {
  background-image: url("../img/testes/serologicos.png");
  background-position: center;
}

#testes .testes-conteudo .conteudo-title p {
  color: var(--azul-pri);
  font-weight: 700;
  font-size: 1.5rem;
}

#testes .testes-conteudo .conteudo-conteudo p {
  color: var(--azul-pri);
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* Media queries */

@media (max-width: 1199px) {
  .margin-15{
    margin-top: 1.5rem;
  }
  .metodos-de-pagamento-2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }
  .metodos-de-pagamento{
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: .5rem;
  }
}

@media (max-width: 767px) {
  .content-area .jumbotron .jumbotron-buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 0px 25px;
  }

  .content-area .jumbotron .jumbotron-buttons p {
    padding: 10px 0px 10px;
  }

  .card-product .cart-description {
    padding-top: 5%;
  }

  .carrinho .col-md-3 p {
    padding-top: 5%;
    padding-bottom: 2%;
    text-align: center;
  }

  .cart-content .row div:not(:last-child) {
    margin-bottom: 10px;
  }

  .tab-pane .row {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }

  #sintomas .cards .card-sint {
    margin: 0;
  }

  #sintomas .cards .mobile-margin {
    margin-bottom: 4%;
  }

  #tracking .card-tra {
    margin: 0;
    margin-bottom: 25px;
  }
}

@media (max-width: 419px) {
  #testes .card-tes {
    width: 260px;
    min-width: 260px;
  }
}
